@import url("https://fonts.googleapis.com/css?family=Inter");

body {
	font-family: "Inter", sans-serif;
	background-color: #5100ff;
	background-image: url(https://www.transparenttextures.com/patterns/darth-stripe.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

* {
	color: white;
}

h2 {
	color: white;
	margin-top: 3rem;
}

b,
strong {
	color: #3e0aa9;
}

.content {
	min-height: 100vh;
}

.blue-color,
a {
	color: yellow;
}

a:hover {
	color: black;
}

.card-body {
	padding: 15px 0;
	text-align: center;
	min-height: 90px;
}

.card-title {
	font-size: 0.9rem;
	margin-bottom: 5px;
	color: black;
}

.card-text {
	font-size: 0.8rem;
	color: black;
}

.movie-infos {
	background-color: rgb(72 61 139 / 50%);
	padding: 30px;
	border-radius: 15px;
}

button.close span {
	color: #721c24;
}

.alert-heading {
	margin: 0;
}
